body {
    margin: 0 ;
    padding: 0;
    font-family: sans-serif;
    background: #008080 ;
}
h1
{
    background-color:  #008080;
    color: white ; 
    padding: 5px;
    text-align: center;


}
h1 input[type = "submit"]{
   position: absolute;
   float: left;
   left: 10px ;
   right: 10px;
   padding: 5px;
}
#contact
{
    font-family: "Trebuchet MS", Times New Roman, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    heigth: 20%;
    position: absolute;
    padding:  10px;
    top: 50%
    left:100%;

    text-align: center;
}
  
#contact td, #customers th 
{   
    border: 1px solid #ddd;
    padding: 1px;
    background-color: #f2f2f2;
}
  
 #contact tr:nth-child(even)
{
     background-color: #f2f2f2;
}
  
#contact tr:hover 
{
     background-color: #ddd;

}
  
#contact th 
{
    padding-top: 12px;
    padding-bottom: 12px;
    background-color:  	#000080;
    color: white;
}
#contact caption
{
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 24px;
    background-color:  	#000080;
    color: white;
    border-bottom: 1px solid black;
}
#contact input[type ="submit"]{
    left: 50%;
    width:100%;
}

